.profileContainer {
    width: 389px;
    background-color: #FFFFFF;
    position: absolute;
    right: 0;
    height: 100%;
    padding: 22px 24px;
    overflow: scroll;

    scrollbar-width: none;
    -ms-overflow-style: none;

    transform: translateX(100%);
    animation: slideIn 0.5s ease forwards;
}

@keyframes slideIn {
    from {
        transform: translateX(100%);
    }
    to {
        transform: translateX(0);
    }
}

.profileContainer::-webkit-scrollbar {
    display: none;
}

.quickBook{
    padding: 16px;
    border: 1px solid #ECECF2;
    margin-bottom: 24px;
}

.mt-16{
    margin-top: 16px;
}

.tab{
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 9px 0;
    border-radius: 8px;
}

.inputField{
    border: none;
    border-bottom: 1px solid #ECECF2;
    outline: none;
    width: 100%;
    margin-bottom: 30px;
}

.greyButton{
    padding: 14px 0;
    width: 100%;
    background-color: #F6F6F6;
    border-radius: 8px;
    border: none;
    outline: none;
    margin-bottom: 24px;
}

.radio{
    width: 20px;
    height: 20px;
    accent-color: #603AE5
}