.billContainer{
    background-color: #FFFFFF;
    border-radius: 12px;
    margin-top: 36px;
    padding: 26px 21px 21px 21px;
    margin-left: 105px;
}

.primaryButton{
    border-radius: 8px;
    padding: 11px 13px;
    font-size: 14px;
    font-weight: 500;
    border: none;
    outline: none;
    background-color: #603AE5;
    color: #FFFFFF;
}

.tabContainer{
    margin-bottom: 23px;
}

.tabButton{
    outline: none;
    border: none;
}

.billListing{
    border-radius: 12px;
    border: 1px solid #EEEEEE;
}

.billDiv{
    padding: 16px 24px;
    display: flex;
    align-items: center;
    border-bottom: 1px solid #EEEEEE;
    cursor: pointer;
}

.billImg{
    width: 40px;
    height: 40px;
    margin-right: 12px;
}

.billSection{
    height: auto;
    border: 1px dashed #ECECF2;
    border-radius: 20px;
    margin-top: 24px;
    padding: 11px;
}

.bill{
    background-color: #F6DEBA;
    height: 100%;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.billImage{
    width: 100%;
}
