.headerContainer{
    height: 84px;
    padding: 18px 24px;
    background-color: #FFFFFF;
    display: flex;
    justify-content: space-between;
    margin-left: 84px;
}

.mr-8{
    margin-right: 8px;
}

.greenButton{
    border-radius: 8px;
    background: linear-gradient(0deg, rgba(64, 225, 250, 0.1), rgba(64, 225, 250, 0.1));
    padding: 7px 15px;
    border: none;
    outline: none;
    color: #2CA01D;
    font-size: 12px;
    font-weight: 700;
    margin-left: 8px;
}

.mr-4{
    margin-right: 4px;
}

.secondaryButton{
    background: #603AE51A;
    font-size: 14px;
    font-weight: 500;
    padding: 14.50px;
    border: none;
    outline: none;
    border-radius: 8px;
    color: #603AE5;
}